body {
  background-color: #efefef;
}

div.size-display {
  position: absolute;
  top: 1px;
  left: 4px;
  z-index: 20;
}

.biopic {
  width: 450px;
  height: 300px;
  margin: 10px;
}

.card {
  width: 25rem;
}

img.demo-img {
  filter: blur(2px);
  -webkit-filter: blur(2px);
}

img.demo-img:hover {
  filter: none;
}

.center {
  text-align: center;
}

footer.sticky-footer {
  z-index: 21;
  position: fixed;
  bottom: 0;
  width: 100%;
}

p.pfooter {
  margin-bottom: 0;
}
